.testimonal{
  height: auto;
}

.testimonal2 h2 {
 color: var(--material-theme-black, #000);
font-family: Poppins;
font-size: 52px;
font-style: normal;
font-weight: 600;
padding-left: 20px;
line-height: 60px; /* 115.385% */
}
.youtubevideo {
  padding: 2%;
  /* display: flex;
  justify-content: center;
  padding-bottom: 10px; */
}
.watch-video {
  position: relative;
}
.watch-video-img {
  height: auto;
  width: 100%;
  /* z-index: -1; */
  border: rgb(97, 94, 94, 0.2) 0.5px solid;
  background-size: cover;
  background-position: center;
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
  border-radius: 25px;
}

.play-button-img {
  /* z-index: 1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 100px;
  width: 100px;
  opacity: 0.5;
}
.pop-up {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(16, 99, 99);
  display: none;
 

}

.watch-video:hover .pop-up,
.play-button-img:hover .pop-up {
  display: block;
  
}

.watch-video:hover .watch-video-img {
  filter: blur(0px);
  border-radius: 10px;
}
.watch-video:hover .play-button-img {
  opacity: 1;
}
